/*🌸font color*/
$main-light-text-color: #FFFFFF;
$main-accent-text-color: #F9D967;
$second-accent-text-color: #E773FF;



/*🌸background-color*/
$bgr-gradient: linear-gradient(180deg, #5D5FEF 0%, #843CE0 100%);


/*🌸border*/
$main-btn-border: 2px solid #391898;


/*🌸btn*/
$btn-bgr-color: #FFFFFF;
$btn-text-color: #5F5EEF;



/*🌸font*/
$main-font: Red Hat Text, sans-serif;
$title-font: Wendy One, sans-serif;
$accent-font: Zen Dots, sans-serif;


/*🌸transitions*/
$transition-duration: 320ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);